@{
    ViewBag.Title = "Async Call";
}

<h2>Call (Read Async)</h2>

<div id="result"></div>

<p><small><a href="@Url.Action("Show", "Call", new { id = ViewContext.RouteData.Values["id"]})">View raw call information (sync)</a></small></p>

@section scripts {
    <script type="text/javascript">
        function syntaxHighlight(json) {
            if (typeof json != 'string') {
                json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
    </script>
    @if (ViewBag.Result != null)
    {
        <script type="text/javascript">
            var json = '@Html.Raw(Html.Encode(ViewBag.Result))';
            $("#result").innerText(syntaxHighlight(json));
        </script>
    }
}